{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    JiangNanMax | Home
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="header-banner">
        <div class="container">
            <h1>JiangNanMax Blog</h1>
                <p>江南的博客</p>
            <!-- <p>只为原创，发表<span class="hidden-xs">个人原创</span>高质量的技术博客</p> -->
        </div>
    </div>
    <h3 class="home-content">Welcome! Enjoy!</h3>
{% endblock %}