{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pace-master/themes/purple/pace-theme-flash.css' %}">
    <link rel="stylesheet" href="{% static 'side/css/myRewards.css' %}">
    <script type="text/javascript" src="{% static 'pace-master/pace.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'back_to_top/TweenMax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'back_to_top/ScrollToPlugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'side/js/tctip.js' %}"></script>

    {% block header_extends %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">
                    JiangNanMax
                </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                <li class="{% block nav_home_active %}{% endblock %}">
                    <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                </li>
                <li class="{% block nav_blog_active %}{% endblock %}">
                    <a href="{% url 'blog_list' %}"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Blog</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user_info' %}">个人资料</a></li>
                            <li><a href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            </div>
        </div>
    </div>


    {% block content %}{% endblock %}

    <span id="to_top">
        <img src="{% static 'images/rocket.svg' %}" alt="">
    </span>
    <script>
        $(function() {
            $("#to_top").click(function(e) {
               TweenMax.to(window, 1.5, {scrollTo:0, ease: Expo.easeInOut});

               var rocket = new TimelineLite();
               rocket.to("#to_top", 1, {rotationY:720, scale:0.6, y:"+=40", ease:  Power4.easeOut})
                .to("#to_top", 1, {y:-1000, opacity:0, ease:  Power4.easeOut}, 0.6)
                .to("#to_top", 1, {y:0, rotationY:0, opacity:1, scale:1, ease: Expo.easeOut, clearProps: "all"}, "1.4");

             });

        });
    </script>
    <script>
        window.tctipConfig = {
            headText: "jiangnanmax@gmail.com",
            siderText: "更多",
            siderTextTop: "-72px",
            siderBgcolor: "#323d45",
            siderTop:"118px",
            buttomText:"了解更多",
            buttomLink:"https://github.com/JiangNanMax",

            list:{
                notice: {icon: "{% static 'side/img/icon/tip.png' %}", name:"公告栏", className:"myR-on", text: '正在抓紧建设我的个人博客网站～\n <b fontcolor="red">欢迎邮箱联系，给予建议～</b>'},
                //alipay: {icon: "img/icon/alipay.png", name:"支付宝", desc: "\n用支付宝打赏", qrimg: "img/qr/"},
                //weixin: {icon: "img/icon/weixin.png", name:"微信", desc: "\n用微信打赏", qrimg: "img/qr/"}
            }
        };
    </script>
    <script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

    {% block script_extends %}{% endblock %}

</body>
</html>
