{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    JiangNanMax | Login
{% endblock %}

{% block header_extends %}
    
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <span>用户名：</span>
        <input type="text" name="username">
        <span>密码：</span>
        <input type="password" name="password">
        <input type="submit" value="登录">
    </form>
{% endblock %}