<!DOCTYPE html>
<html class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths skrollr skrollr-desktop">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!-- Basics -->

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>JiangNanMax Blog</title>

        <!-- Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="./static/normalize.min.css">
        <link rel="stylesheet" href="./static/main.css">

        <!-- Fonts -->
        <link rel="stylesheet" href="./static/css">

    </head>
<body style="overflow: auto; height: 3313px;">

        <div class="wrapper">
            <section id="home" class="row" style="height: 640px;">
                <div class="overlay">
                    <div class="col home-title" style="padding-top: 214.5px;">
                        <h1>JiangNanMax Blog</h1>
                        <!-- <h2>Java / Python / PHP</h2> -->
                    </div>
                </div>
            </section>

            <section id="about" class="row">
                <div class="page about-content">
                    <div class="col about-title">
                        <h3 data-100="-webkit-transform: translateX(100px); opacity:0;" data-500="-webkit-transform: translateX(0px); opacity:1;" class="skrollable skrollable-after" style="transform: translateX(0px); opacity: 1;">About Site</h3>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col about-description">
                        <p data-100="opacity:0;" data-500="opacity:1;" class="skrollable skrollable-after" style="opacity: 1;">Python / Django / MySQL / jQuery / Bootstrap</p>
                    </div>
                    <div class="col empty">&nbsp;</div>
                </div>
            </section>

            <section id="contact" class="row">
                <div class="contact-content page">
                    <div class="col contact-title">
                        <h3 data-100="-webkit-transform: translateX(100px); opacity:0;" data-500="-webkit-transform: translateX(0px); opacity:1;" class="skrollable skrollable-after" style="transform: translateX(0px); opacity: 1;">Contect Me</h3>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col contact-description">
                        <a href="mailto:jiangnanmax@gmail.com" class="but">jiangnanmax@gmail.com</a>
                    </div>
                    <div class="col empty">&nbsp;</div>
                </div>
            </section>

            <footer id="footer" class="row">
                <div class="footer-content page">
                    <div class="col f1">
                        <p>JiangNanMax © 2019</p>
                    </div>
                </div>
            </footer>

        </div>

        <div class="loader" style="display: none;"></div>

        <!-- JavaScript -->
        <script src="./static/jquery-1.11.0.min.js"></script>
        <script src="./static/modernizr-2.6.2.min.js"></script>
        <script src="./static/skrollr.js"></script>
        <script src="./static/main.js"></script>



</body></html>
